*~
*.o
clr_debug_fuse
clr_debug_daemon
clr_debug_prepare
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
*.tar.gz
